{% extends 'layout.html' %} 
{% block body %}
<div class="container">
    <div class="row">
        {% if user.is_medecin %}
        <br>
        <div class="jumbotron">
            <h1>Bonjour, Mr {{user.last_name}}</h1>
            <p class="lead">PharmaLiv vous souhaite la Bienvenue parmi nous, Nous vous offrons la possiblité d'envoyer l'ordonnance de votre patient directement sur son compte .</p>
            <p>Vous pouvez envoyer l'ordonnance de ce dernier sur son compte en cliquant sur le bouton ci-dessous</p>
            <p>
                <a class="btn btn-lg btn-success" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Cliquez pour envoyer »</a>
            </p>
        </div>
        <hr>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="jumbotron">
                    <form class="form-horizontal" enctype="multipart/form-data" action="" method="post">

                        {% csrf_token %} {% for error in form.non_field_errors %}
                        <div class="form-group has-errors text-danger small">
                            {{error}}
                        </div>
                        {% endfor %}
                        <div class="form-group has-errors text-danger small">
                            {{form.errors}}
                        </div>
                        <div class=" form-group">
                            {{form.libelle}}
                        </div>
                        <div class="form-group">
                            {{form.medicaments}}
                        </div>
                        <div class=" form-group">
                            {{form.patient}}
                        </div>
                        <div class=" form-group">
                            {{form.birth_date}}
                        </div>
                        <div class=" form-group">
                        
                                {{form.medecin}}
                        </div>
                        <p>
                        
                            <input type="submit" class="btn btn-lg btn-success" value="Envoyer" style="float: right;">
                        </p>
                    </form>
                </div>
            </div>
        </div>



        {% else %}
        <p>
            <a href="medecin/login">Login</a>
        </p>
        <p>
            <a href="/">Inscrire</a>
        </p>
        {% endif %}
    </div>
</div>


<script>
        $(function () {
            $("#id_medecin").val("{{user.id}}");
            $("#id_medecin").hide();
            
        })
    </script>
{% endblock body %}