{% extends 'payementLigne/panier.html' %} 
 {% block body %}
<br>
<br>
<br>
<div class="row">

      
        <div class="col-lg-6">
                <form action=""  enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        
                        {{form.nomPatient}}
                    </div>
                    <div class="form-group">
                        
                            {{form.prenomPatient}}
                        </div>
                        <div class="form-group">
                        
                                {{form.email}}
                        </div>
                        <div class="form-group">
                        
                                {{form.adresse}}
                        </div>
                        <div class="form-group">
                        
                                {{form.telephonePatient}}
                        </div>
                        <div class="form-group">
                        
                                {{form.patient}}
                        </div>
                        <div class="form-group">
                                <label for="exampleInputEmail2">Ordonnance</label>
                                {{form.ordonnance}}
                        </div>
                    <input type="submit" class="btn btn-lg btn-success" name="" id="">
                </form>
        </div>
        <div class="col-lg-6">
                <h3>Votre commande</h3>
               
            
                <table class="table">
    
                
                {% for item in panier  %}
                <tr>
                    <td><div class="thumbnail">
                                <img src="{{item.produit.photo.url}}" class="col-md-2">
                                <div class="caption">
                                 
                                  <p> {{item.total_prix}}</p>
                                  <p> {{item.stock}} * {{item.produit.titre}} </p>
                                </div>
                              </div>
                           
    
                        </td>
                
                    </tr>
                {% endfor %}
    
            </table>
            <hr>
            <div class="row">
                   <div class="col-md-4">
                        <h1>Total</h1>
                    </div> 
                    <div class="col-md-offset-7">
                        <h1>{{panier.get_somme_prix}} Fcfa</h1>
                    </div>
            </div>
            
        </div>
</div> 
<script>
        $(function () {
            $("#id_patient").val("{{user.id}}");
            $("#id_nomPatient").val("{{user.last_name}}");
            $("#id_prenomPatient").val("{{user.first_name}}");
            $("#id_adresse").val("{{patient.adresse}}"); 
            $("#id_email").val("{{user.email}}");
            $("#id_patient").hide();
            $('.thumbnail').css('border', 'none')
            $('.material-icons').css('font-size', '20px').css('color', 'black').css('display', ' flex')
            $('.navbar-inverse').css('background-color', 'white').css('border-color', 'white')
            $('.navbar-nav').css('margin-left', '382px')
            $('h3:eq(2)').css('font-weight', 'lighter')
            })

            window.onscroll = function () { myFunction() };
    
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
    
            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
    </script>
{% endblock body %}