{% extends 'payementLigne/commande.html' %} {% block body %}
<br>
<br>
<br>
<div class="alert alert-success">
    
    <h3>Votre commande a été effectué</h3>
</div>

<script>
        $(function () {
            $('.thumbnail').css('border', 'none')
            $('.material-icons').css('font-size', '20px').css('color', 'black').css('display', ' flex')
            $('.navbar-inverse').css('background-color', 'white').css('border-color', 'white')
            $('.navbar-nav').css('margin-left', '382px')
            $('h3:eq(2)').css('font-weight', 'lighter')
        })
        window.onscroll = function () { myFunction() };

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script> 

{% endblock body %}