{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block body %}
<style>
    body{
        background-image: url(' static/img/pharmafloue.png');
        background-size: cover;
        background-attachment: fixed;
    }
    .form1 {border: 3px solid #f1f1f1; background-color: rgba(255, 255, 255, 0.8);}

    input[type=text], input[type=password] {
        width: 71%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 71%;
    }

    button:hover {
        opacity: 0.8;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    .cancelbtn a{
        color :white;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 18%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    }
</style>

<div class="container" style="width: 75%; margin-top: 40px">
    <div class="row">
        <form  action="" method="POST" class="form1">

            {% csrf_token %}
            <div class="imgcontainer">
                <img src="{% static 'img/avatarpharma.jpg' %}" alt="Avatar" class="avatar">
                <h3>Pharmacie</h3>
            </div>

            <div class="container">
                <label for="username"><b><h4>Identifiant</h4></b></label>
                <br>
                <input type="text" placeholder="Votre Identifiant" name="username" required>
                <br>
                <label for="password"><b><h4>Mot de passe</h4></b></label>
                <br>
                <input type="password" placeholder="Votre mot de passe" name="password" required>
                <br><br>
                <button type="submit">Login</button>
                <br><br>
                <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
            <div class="container" style="background-color:rgba(0,0,0,0.1); width: 100%">
                <button type="button" class="cancelbtn"><a href="/">Annuler</a></button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>

            <input type="hidden" name="next" value="/pharmacie/thanks/" />

        </form>
    </div>
</div>
{% endblock body %}
    

