{% extends 'layout.html' %} {% block header %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="height: 80px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="margin-top: 10px">
                <span class="glyphicon glyphicon-plus"></span>PharmaLiv
            </a>
        </div>

        <div class="container">
                <div class="notification">
                    <div id="notif-message" class="notif-message" style="display: none;" notice-type="success">
                        Welcome!
                    </div>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                
            
                </div>
            
            
                <div class="collapse navbar-collapse navbar-ex1-collapse">
            
                    <ul class="nav navbar-nav navbar-right" data-no-turbolink="">
            
                        <li>
                                <div itemscope="" itemtype="http://schema.org/WebSite">
                                    <meta itemprop="url" content="https://www.creative-tim.com/">
                                    <form class="navbar-form navbar-right navbar-search-form" itemprop="potentialAction" itemscope="itemscope" itemtype="http://schema.org/SearchAction" style="display: none;" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                                    <div class="form-group">
                                        <meta itemprop="target" content="https://www.creative-tim.com/search?q={}">
                                        <input type="text" name="q" id="q" class="form-control search" placeholder="Search..." itemprop="query-input">
                                    </div>
            </form>            	    </div>
                        </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="search-form">
                                    <i class="icon-search icon-2x"></i>
                                    <p>Search</p>
                                </a>
                            </li>
            
                        <li class="dropdown dropdown-categories" data-no-turbolink="">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-th-large icon-2x"></i>
                                <p>
                                    Categories
                                    <span class="caret"></span>
                                </p>
            
                            </a>
            
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/bootstrap-themes">
                                    All Categories
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/admin-dashboard">
                                    Admin &amp; Dashboards
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/ui-kit">
                                    UI Kits
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/free">
                                    Free Themes
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/premium">
                                    Premium Themes
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/angular-dashboard">
                                    Angular Dashboards
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/landing-page">
                                    Landing Pages
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/e-commerce">
                                    E-commerce
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/one-page-template">
                                    One Page Templates
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/wizard">
                                    Wizards
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/calendar">
                                    Calendar
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/login-form">
                                    Login Forms
                                </a>
                            </li>
                            <li>
                                <a href="/bootstrap-themes/components">
                                    Components
                                </a>
                            </li>
                        </ul>
                    </li>
            
                    <li class="big-bundle dropdown dropdown-categories" data-no-turbolink="">
            
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-gift icon-2x"></i>
                            <p>
                                Bundles
                                <span class="caret"></span>
                            </p>
                            <span class="notification-bubble notification-inverted">New</span>
            
                        </a>
                        <ul class="dropdown-menu">
                                <li>
                <a href="/product/buy/bundle/big-bundle">
                    <div class="bundle-name">
                        Big Bundle
                        <small> 24 PRODUCTS </small>
                    </div>
            
                    <div class="bundle-price">
                        $249
                    </div>
                </a>
            </li>
            
                                <li>
                <a href="/product/buy/bundle/2017-bundle">
                    <div class="bundle-name">
                        2017 Bundle
                        <small> 10 PRODUCTS </small>
                    </div>
            
                    <div class="bundle-price">
                        $199
                    </div>
                </a>
            </li>
            
                                <li>
                <a href="/product/buy/bundle/2016-bundle">
                    <div class="bundle-name">
                        2016 Bundle
                        <small> 8 PRODUCTS </small>
                    </div>
            
                    <div class="bundle-price">
                        $199
                    </div>
                </a>
            </li>
            
                        </ul>
                    </li>
            
            
            
                        <li class="dropdown dropdown-notifications">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-bell icon-2x"></i>
                                <p> Notifications <span class="caret"></span></p>
                            </a>
            
            
                            <div class="dropdown-menu ">
            
                                <a href="javascript:void(0)" class="btn-read-all disabled">Mark All as Read</a>
            
                                <ul class="scroll-area">
                                    
                
                    <li data-no-turbolink="">
                        
                        <a href="/products">
                            Hey! Thank you for registering 😊 Have you had a chance to browse our newest products?
                            <br><small>2 days ago</small>
                        </a>
                        
            
                    </li>
                
            
                                </ul>
            
            
                                <div class="clearfix"></div>
                            </div>
            
                        </li>
            
            
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="user-photo">
                                    <img class="photo" src="https://s3.amazonaws.com/creativetim_bucket/anonymous_thumb.png" alt="Anonymous thumb">
                                </div>
                                <p>Birame <span class="caret"></span></p>
                            </a>
            
                            <ul class="dropdown-menu dropdown-menu-navbar">
                                <li data-no-turbolink="">
                                    <a href="/downloads">
                                    <i class="icon-shopping-cart"></i>
                                    <p>My Purchases</p>
            </a>                    </li>
            
                                <li>
                                    <a href="/user/credit-history">
                                        <i class="fa fa-diamond"></i>
                                        <p>Credits · 0 </p>
            </a>                    </li>
            
                                <li>
                                    <a href="/account">
                                    <i class="icon-user"></i>
                                    <p>Account Settings</p>
            </a>                    </li>
            
                                <li>
                                    <a href="/logout">
                                        <i class="icon-remove-circle"></i>
                                        <p>Log Out</p>
            </a>                    </li>
                            </ul>
                        </li>
            
            
                        <li class="noty-cart">
                            <a href="#" data-toggle="modal" data-target="#product-cart-modal">
                                <i class="icon-shopping-cart icon-2x"></i>
                                <span class="notification-bubble hidden" id="products-in-cart">
                                    0
                                </span>
                                <p>Your Cart </p>
                            </a>
                        </li>
            
                    </ul>
            
                </div>
            </div>
       <!-- <ul class="nav navbar-nav navbar-right" style="margin-top: 20px">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-log-in"></span> {{user.username}}
                    <span class="caret"></span>
                    <ul class="dropdown-menu" style="margin-top: 10px">
                        <li>
                            <a href="/patient/thanks">Profil</a>
                            <a href="{% url 'patient_deconn' %} "> Se deconnecter</a>

                        </li>
                    </ul>
                </a>
            </li>

            </a>
            </li>
        </ul>-->
    </div>
</nav>
{% endblock header %} {% block body %}
<div class="container">
    <div class="row">

    </div>
</div>
{% endblock body %}