{% extends 'layout.html' %} {% block header %} {% if user.is_patient %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="height: 80px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="margin-top: 10px">
                <span class="glyphicon glyphicon-plus"></span>PharmaLiv
            </a>
        </div>

        <div class="container">
            <div class="notification">
                <div id="notif-message" class="notif-message" style="display: none;" notice-type="success">
                    Welcome!
                </div>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav navbar-right" data-no-turbolink="">

                    <li>
                        <div itemscope="" itemtype="http://schema.org/WebSite">
                            <meta itemprop="url" content="https://www.creative-tim.com/">
                            <form class="navbar-form navbar-right navbar-search-form" itemprop="potentialAction" itemscope="itemscope" itemtype="http://schema.org/SearchAction"
                                style="display: none;" action="/search" accept-charset="UTF-8" method="get">
                                <input name="utf8" type="hidden" value="✓">
                                <div class="form-group">
                                    <meta itemprop="target" content="https://www.creative-tim.com/search?q={}">
                                    <input type="text" name="q" id="q" class="form-control search" placeholder="Search..." itemprop="query-input">
                                    <input type="submit" class="btn btn-success" value="rechercher">
                                </div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <a href="#" id="cherche" data-toggle="search-form">

                            <i class="material-icons md-light">search</i>
                            <span class="notification-bubble hidden" id="products-in-cart">
                                0
                            </span>
                            <p>Search </p>
                        </a>
                    </li>







                    <li class="dropdown dropdown-notifications">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">

                            {% if notifications > 0 %}
                            <button class="btn btn-danger" type="button">
                                <i class="material-icons md-light">notifications</i>
                                <span class="badge"> {{notifications}}</span>
                            </button>
                            {% else %}
                            <button class="btn btn-success" type="button">
                                <i class="material-icons md-light">notifications</i>
                                <span class="badge">0</span>
                            </button>
                            {% endif %}
                        </a>



                        <div class="dropdown-menu ">

                            <a href="javascript:void(0)" class="btn-read-all disabled"></a>
                            <ul class="scroll-area">
                                {% for mess in messages %}
                                <li data-no-turbolink="">
                                    <a href="{% url 'notif'  %} ">
                                        {{mess.medecin.user.first_name}} {{mess.medecin.user.last_name}}
                                    </a>
                                </li>
                                {% endfor %}
                                <li>
                                    <a href="{% url 'notif'  %}">Autres</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                    </li>


                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="user-photo">
                                <i class="material-icons md-light">perm_identity</i>
                            </div>
                            <p>{{user.username}}
                                <span class="caret"></span>
                            </p>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-navbar">
                            <li data-no-turbolink="">
                                <a href="/downloads">
                                    <i class="material-icons md-light">shopping_cart</i>
                                    Achats
                                </a>
                            </li>

                            <li>
                                <a href="/user/credit-history">
                                    <i class="fa fa-diamond"></i>
                                    Credits · 0
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <i class="material-icons">settings</i>
                                    Reglages
                                </a>
                            </li>

                            <li>
                                    <a href="{% url 'patient_deconn' %}">
                                    <i class="material-icons md-light">highlight_off</i>
                                    Se deconnecter
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="noty-cart">
                        <a href="#" data-toggle="modal" data-target="#product-cart-modal">
                            <i class="material-icons md-light">shopping_cart</i>
                            <span class="notification-bubble hidden" id="products-in-cart">
                                0
                            </span>
                            <p>Panier </p>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
        <!-- <ul class="nav navbar-nav navbar-right" style="margin-top: 20px">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-log-in"></span> {{user.username}}
                    <span class="caret"></span>
                    <ul class="dropdown-menu" style="margin-top: 10px">
                        <li>
                            <a href="/patient/thanks">Profil</a>
                            <a href="{% url 'patient_deconn' %} "> Se deconnecter</a>

                        </li>
                    </ul>
                </a>
            </li>

            </a>
            </li>
        </ul>-->
    </div>
</nav>
{% endif %} {% endblock header %} {% block body %} {% if user.is_patient %}
<br>
<br>
<div class="row">
    <div class="jumbotron">
        <h1>Bonjour, Mr {{user.last_name}}</h1>
        <p class="lead">PharmaLiv vous souhaite la Bienvenue parmi nous, Nous vous offrons la possiblité de passer vos commandes plus facilement
            et dans un temps trés court tout en prenant en compte votre localisation. </p>
        <p>veuillez cliquer sur le bouton ci-dessous afin de voir vos ordonnances</p>
        <p>
            <a class="btn btn-lg btn-success" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Cliquez pour Ouvrir »</a>
        </p>
        <div class="col-md-2 col-md-offset-9">
                        <a class="btn btn-lg btn-danger" data-toggle="collapse" href="" >Visiter Pharmacies »</a>
        </div>
        <br>
    </div>
    <hr>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="jumbotron">
                <div class="row">
                    {% for ordonnanc in ordo %}


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ordonnanc.medicaments.url}}" alt="... ">
                            <div class="caption ">
                                <h1>{{ordonnanc.medecin.specialite.nom}} </h1>
                                <h2>{{ordonnanc.medecin.user.first_name}} {{ordonnanc.medecin.user.last_name}} </h3>
                                    <h3>{{ordonnanc.dateSoumission}}</h3>
                                    <p>{{ordonnanc.libelle}}</p>

                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    $(function () {
        $("#cherche ").click(function () { $('form').slideToggle() })
    })
</script> {% else %}
<h1>GO out</h1>
{% endif %} {% endblock body %}