{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block body %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar" style="margin-top: 30px">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
            <a href="#section1">
                <i class="fa fa-user"></i> Profil
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="1">
            <a href="#">
              <i class="fa fa-bell"></i> Notifications 
              <span class="badge badge-info" style="color: white; font-size: 17px">{{nombreDeNotifications}}</span>
            </a>
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="2">
            <a href="#"><i class="fa fa-ambulance"></i> A livrer
              <span class="badge badge-info" style="color: white; font-size: 17px">{{nblivraison}}</span>
            </a>
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="3">
            <a href="#"><i class="fa fa-map"></i> Map </a>
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="4">
            <a href="#"><i class="fa fa-gears"></i> Paramètres</a>
        </li>
    </ul>
</div>

<div id="section1" class="container-fluid">
       <div class="container principal" style="margin-left: 40px">
         <section class="section-white">
          <div class="container">

            <div id="carousel-example-generic" class="carousel slide">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                    {% for livreur in livreur%}
                    <div class="jumbotron" style="margin-top: 30px; margin-left: 52px; height: 555px">
                        <div class="">
                          <h3><b>{{user.first_name}} {{user.last_name}} <i class="fa fa-car" style="float: right;"></i></b></h3>
                        </div>

                        <div class="panel-body">
                           <div class="row">
                            <div class="col-xs-4 col-sm-4 col-lg-4" style="margin-top: 50px;">
                              <a href="{% static 'img/avatarpharma.jpg' %}"><img src="{% static 'img/avatarpharma.jpg' %}" alt="image"/></a> 
                            </div>
                            <div class="col-xs-5 col-sm-5 col-lg-5" style="margin-top: 50px; font-weight: bold;">
                              <div class="row">
                                  <div class="col-sm-4">
                                      Nom :
                                  </div>
                                  <div class="col-sm-6">
                                      {{user.last_name}}
                                  </div>
                              </div>
                              <br>
                              <div class="row">
                                  <div class="col-sm-4">
                                      Prénom :
                                  </div>
                                  <div class="col-sm-6">
                                      {{user.first_name}}
                                  </div>
                              </div>
                              <br>
                              <div class="row">
                                  <div class="col-sm-4">
                                      Adresse :
                                  </div>
                                  <div class="col-sm-6">
                                   {{livreur.adresse}}
                                  </div>
                              </div>
                              <br>
                              <div class="row">
                                  <div class="col-sm-4">
                                      Zone de Livraison :
                                  </div>
                                  <div class="col-sm-6">
                                      {{livreur.zoneDeLivraison}}
                                  </div>
                              </div>
                              <br>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-lg-3" style="margin-top: 150px">
                              <a href="#" class="btn btn-lg btn-success" data-target="#carousel-example-generic" data-slide-to="7">
                                Modifier mes informations <i class="fa fa-gears"></i>
                              </a>
                            </div>
                          </div> 
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="item">
                    <div style="margin-top: 60px; margin-left: 70px;">
                        
                          <h2 class="alert-heading">
                            Mes notifications <i class="fa fa-bell"></i>
                            <button class="btn btn-success"  style="float: right; margin-right: 30px">
                                <span>{{nbreMsg}} messages</span>
                            </button>
                          </h2>
                          <hr>
                          <div class="alert alert-info" role="alert">
                              <h4 class="alert-heading">
                                Messages non lus <i class="fa fa-envelope"></i> 
                              </h4>
                              <hr>
                              
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th style="width: 30%">Expéditeur</th>
                                    <th style="width: 60%">Contenu</th>
                                    <th style="width: 10%"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for notif in notificationsNonLu %}
                                  <tr>
                                    <td><b>{{notif.pharmacie}}</b></td>
                                    <td><b>Vous avez une nouvelle commande à livrer</b></td>
                                    <td>
                                        <a href="{% url 'notifier' id=notif.id  %}">Voir détails</a>
                                    </td>
                                  </tr>
                                {% empty %}
                                      <div class="alert alert-danger">
                                        <h3>Vide !
                                        </h3>
                                      </div>
                                {% endfor %}
                                </tbody>
                              </table>
                          </div>
                          
                          

                          <div class="alert alert-success" role="alert">
                              <h4 class="alert-heading">
                                Messages lus <i class="fa fa-envelope"></i> 
                              </h4>
                              <hr>
                              
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th style="width: 30%">Expéditeur</th>
                                    <th style="width: 70%">Contenu</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for notif in notificationsLu %}
                                  <tr style="background-color: white">
                                    <td>{{notif.pharmacie}}</td>
                                    <td>Vous avez une nouvelle commande à livrer</td>
                                  </tr>
                                {% empty %}
                                      <div class="alert alert-danger">
                                        <h3>Vide !
                                        </h3>
                                      </div>
                                {% endfor %}
                                </tbody>
                              </table>
                          </div>
                          <p class="mb-0"></p>
                        
                    </div>
                </div>

                <div class="item">
                    <div style="margin-top: 60px; margin-left: 70px;">

                          <h2 class="alert-heading">
                            A livrer <i class="fa fa-ambulance"></i>
                            <button class="btn btn-success" style="float: right; margin-right: 30px">
                                <span>{{nblivraison}} livraisons</span>
                            </button>
                          </h2>
                          <hr>
                          <table class="table table-hover">
                                <thead>
                                  <tr class="success">
                                    <th>Expéditeur</th>
                                    <th>Nom Patient</th>
                                    <th>Prénom patient</th>
                                    <th>Adresse</th>
                                    <th>Téléphone</th>
                                    <th>Commande</th>
                                    <th>Date de commande</th>
                                    <th>Date de livraison</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for livraison in livraison %}
                                  <tr>
                                    <td>{{livraison.pharmacie}}</td>
                                    <td>{{livraison.nomPatient}}</td>
                                    <td>{{livraison.prenomPatient}}</td>
                                    <td>{{livraison.adresse}}</td>
                                    <td>{{livraison.telephonePatient}}</td>
                                    <td>{{livraison.commande}}</td>
                                    <td>{{livraison.dateCommande}}</td>
                                    <td>{{livraison.dateLivraison}}</td>
                                    <td><a href="{% url 'livree' id=livraison.id idp=livraison.patient.user.id %}">Déja livrée</a></td>
                                    <td>{{livraison.patient.user.id}}</td>
                                  </tr>
                                {% empty %}
                                      <div class="alert alert-danger">
                                        <h3>Vide !
                                        </h3>
                                      </div>
                                {% endfor %}
                                </tbody>
                              </table>
                          <p class="mb-0"></p>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    </section>
    </div>
</div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 100px;">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Détails Livraison
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </h3>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row alert alert-success" style="margin-left: 1px; margin-right: 1px">
                                        <div class="col-sm-6">
                                            dfghj
                                        </div>
                                        <div class="col-sm-6">
                                            dfghjk
                                        </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                  </div>
                                </div>
                              </div>
                            </div>
<style>
        .sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }
</style>
{% endblock body %}
    
